


body {
    padding-top: 2rem;
    background-color: #0b0b0d;
    color: #FFF;
    background-color:  #0b0b0d;  
}


.kos{
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 10px;
}